<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add 
			id="FormationMagento_Contacts" 
			title="Formation Magento Contacts" 
			module="FormationMagento_Contacts" 
			sortOrder="20" 
			dependsOnModule="FormationMagento_Contacts" 
			resource="FormationMagento_Contacts::contacts"
		/>

        <add 
			id="FormationMagento_Contacts::view" 
			title="Formation Magento Contacts" 
			module="FormationMagento_Contacts" 
			action="contacts/test/index" 
			parent="FormationMagento_Contacts" 
			sortOrder="20" 
			dependsOnModule="FormationMagento_Contacts" 
			resource="FormationMagento_Contacts::contacts"
		/>

		<add 
			id="FormationMagento_Contacts::index" 
			title="Formation Magento Contacts" 
			module="FormationMagento_Contacts" 
			action="contacts/contact/index" 
			parent="FormationMagento_Contacts" 
			sortOrder="20" 
			dependsOnModule="FormationMagento_Contacts" 
			resource="FormationMagento_Contacts::contacts"
		/>
    </menu>
</config> 