<?xml version="1.0"?>
<!-- Documentation https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/create_component.html -->
<config
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module
    name="FormationMagento_FirstController"
    setup_version="1.0">

        <!-- Dépendances (non obligatoire) du module -->
		<!-- https://devdocs.magento.com/guides/v2.4/architecture/archi_perspectives/components/modules/mod_depend.html -->
        <sequence>
            <module name="Magento_Cms"/>
        </sequence>

    </module>
</config>
